/* Reset some default styles */
body, h1, p {
  margin: 50px;
  height: 5rem;
  padding: 0px;
}

/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 32px;
}

.between {
  font-size: 16px;
}

/* Style for "Again!" button */
.btn.again {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

/* Main styles */
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Left section styles */
.left {
  text-align: center;
}

.guess {
  padding: 10px;
  font-size: 16px;
}

.btn.check {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

/* Right section styles */
.right {
  text-align: center;
}

.message {
  font-size: 18px;
  padding: 30px;
}

.label-score,
.label-highscore {
  font-size: 16px;
  margin-top: 10px;
}

/* Add some styling for the number */
.number {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  color: #000000;
  padding: 20px;
  text-align: center;
  width: 40px;
  left: 47.5%;
  background-color: #ffffff;
  position: absolute; 
  top: 255px; 
}
